.profile {
  hack:this;

  @include element(submit) {
    position: absolute;
    bottom: -8;
    right: -10px;
  }

  @include element(nothing-yet) {
    border: dotted 4px #C1C1C1;
    padding: 20px;
  }
}
